/* Below 1200px (Laptops) */
@media (max-width: 75em) {
  .main-container {
    margin: 0 10vw;
  }
}

/* Below 992px (Tablets) */
@media (max-width: 62em) {
  .main-container {
    margin: 0 6vw;
  }
}

/* Below 768px (Smartphones) */
@media (max-width: 48em) {
  .main-container {
    margin: 0 4vw;
  }
}
